$primary: #df2046;
$accent: #e41be0;
$foreground: #ffffff;

body {
  font-family: sans-serif;
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  color: $foreground;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
  font-size: large;
}

.game {
  max-width: calc(3 * 100px); //change here for board size too
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: Center;
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); //change here for board size too
  justify-content: center;
}

.cell {
  background-color: #000000;
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 0px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.cell:hover {
  background-color: transparent;
}

.reset-button {
  padding: 5px 10px;
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  margin-top: 10px;
}

.learnMore {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: #000000;
  border-color: #050004;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
